/* Common Variables */
:root {
    --primary-bg: linear-gradient(to bottom right, #FFD1DC, #E6E6FA);
    --card-bg: rgba(255, 255, 255, 0.8);
    --button-primary: rgba(230, 230, 250, 0.7);
    --button-hover: rgba(255, 209, 220, 0.9);
    --text-color: #333333;
    --border-color: #FFB6C1;
    --shadow-color: rgba(255, 153, 187, 0.8);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: var(--primary-bg);
    background-size: cover;
    background-attachment: fixed;
    color: var(--text-color);
}

.nav
{
    display: flex;
    width: 100%;
    /* background-color: #ffffff; */
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    
}

.nav-logo
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    margin-right: 0px;
    margin-left: 490px;
    
}

#logo
{
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
}

.left {
    width: 130px;
    height: 40px;
    font-weight: 700;
    background: var(--button-primary);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 0 25px;
    box-shadow: 0 0 5px var(--shadow-color);
    color: var(--text-color);
}

.left:hover {
    background: var(--button-hover);
    transform: scale(1.05);
}

.page-title {
    color: var(--text-color);
    margin-right: 150px;
    font-weight: bold;
}

.nav-button .btn {
    width: 130px;
    height: 40px;
    font-weight: 700;
    background: var(--button-primary);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 0 25px;
    box-shadow: 0 0 5px var(--shadow-color);
    color: var(--text-color);
}

.nav-button .btn:hover {
    background: var(--button-hover);
    transform: scale(1.05);
}

#Logout
{
    width: 70px;
}

#Profile
{
    width: 70px;
}

svg
{
    font-size: xx-large;
}
